:root {
  --bg-color: #ffffff;
  --text-color: #222222;
}

.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--text-color);
  color: var(--bg-color);
}

body header button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
}

body header button:hover {
  opacity: 0.8;
}

.product-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
align-items: center;
}

.product-card {
  padding: 19px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  background: var(--bg-color);
  border: 1px solid rgba(0,0,0,0.1);
  width: 230px;
  text-align:justify;
   place-items: center;
   justify-content: center;
   display: grid;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  margin: 10px 0 0.5rem;
}

.product-card p {
  margin-bottom: 1px;
}

.product-card .price {
  font-weight: bold;
  margin-bottom: 1rem;
}
