
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:linear-gradient(360deg,white,green);
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid green;
}

.navbar .title{
  color:linen;
  font-size: 25px;
  font-weight: bold;
}

.navbar .links {
  list-style: none;
  display: flex;
  gap: 10px;
}

  .navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.footer {
text-align: center;
  justify-content: baseline;
  padding: 5px;
  background: linear-gradient(180deg,rgb(178, 248, 13),grey);
  color: linear-gradient(180deg,red,black);
  width: 100%;
  height: 34%;
  position: fixed;
  bottom:1px;
  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.footer ul {
  list-style: none;
  padding: 1%;
  bottom: 0%;
}

.footer ul li a {
  color: #8d3232;
  text-decoration: none;
}