* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

header {
  text-align: center;
  padding: 2px;
  background: #0f63c4;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: 100px;
  gap: 20px;
  padding: 20px;
   display: inline-flex;
   margin: 10px;
}

.product {
  background: white;
  padding:10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(184, 19, 19, 0.89);
  display: inline-block;
  flex-direction: column;
  border: 2px solid black;
  width: 300px;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #165aa7;
  margin-bottom: 0.5px;
}

footer {
  text-align: center;
  padding: 5px;
  background: #333;
  color: white;
  width: 100%;
  position: fixed;
  bottom:0;
}


