* {
  margin: 3;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 2px;
  background: #166ed3;
  color: white;
}

.registration-form {
  max-width: 600px;
  margin: 12px auto;
  background: white;
  padding: 15px;
  border-radius: 8px;
  display: grid;
  gap: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],input[type="email"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 10pxs;
}

input:focus,
select:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74,144,226,0.5);
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
   display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

button {
  padding: 1rem;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;

}

button:hover {
  background: #357ABD;
}

label::after {
  content: " *";
  color: red;
  font-weight: normal;
}

footer {
  text-align: center;
  padding: 5px;
  background: #333;
  color: white;
  width: 100%;
  position:static;
  bottom:0;
}

